
# ğŸŒ¼ ê¸°ê³„í•™ìŠµ ë° ë°ì´í„° ì „ì²˜ë¦¬ - 1ì°¨ì‹œ(24.10.31)

---

## 1. pandas ë¼ì´ë¸ŒëŸ¬ë¦¬

pandas ë¼ì´ë¸ŒëŸ¬ë¦¬ ì„¤ì¹˜ì™€ ë¶ˆëŸ¬ì˜¤ê¸°

- pip install pandas
- import pandas as pd

ì—¬ê¸°ì„œ import : ë¶ˆëŸ¬ì˜¨ë‹¤, as : ~ë¡œ  
-> pdë¼ëŠ” ì´ë¦„ìœ¼ë¡œ pandas ë¼ì´ë¸ŒëŸ¬ë¦¬ë¥¼ ë¶ˆëŸ¬ì˜¨ë‹¤.

In [1]:
# pip install pandas

In [2]:
import pandas as pd

## 2. ë°ì´í„°í”„ë ˆì„
### 2-1. ë°ì´í„°í”„ë ˆì„ì˜ êµ¬ì¡°
- í‘œ, tableê³¼ ë¹„ìŠ·í•œ í˜•íƒœ
- ë¦¬ìŠ¤íŠ¸, ë”•ì…”ë„ˆë¦¬ ë“±ì„ ì´ìš©í•˜ì—¬ ë°ì´í„°í”„ë ˆì„ì„ ìƒì„±í•  ìˆ˜ ìˆìŒ
- êµ¬ì¡°í™”ëœ ë°ì´í„°ë¥¼ ë‹¤ë£¨ëŠ” 2ì°¨ì› í…Œì´ë¸” í˜•ì‹ì˜ ë°ì´í„° êµ¬ì¡°

In [3]:
data = [
    [1, 'ìˆ˜ë¹ˆ', 90],
    [2, 'ì˜ˆì›', 80],
    [3, 'ë„í™˜', 70]
]

In [4]:
df = pd.DataFrame(data, columns = ['ID', 'ì´ë¦„', 'ì ìˆ˜'])

In [5]:
df

   ID  ì´ë¦„  ì ìˆ˜
0   1  ìˆ˜ë¹ˆ  90
1   2  ì˜ˆì›  80
2   3  ë„í™˜  70

In [6]:
# ë”•ì…”ë„ˆë¦¬ë¥¼ ë¦¬ìŠ¤íŠ¸ë¡œ ê°ì‹¸ì„œ ìƒì„±
data = [
    {'ID' : 1, 'ì´ë¦„' : 'ì¹´ë¦¬ë‚˜'},
    {'ID' : 2, 'ì´ë¦„' : 'ìœˆí„°'},
    {'ID' : 3 , 'ì´ë¦„' : 'ë‹ë‹'}
]

In [7]:
df = pd.DataFrame(data)

In [8]:
df

   ID   ì´ë¦„
0   1  ì¹´ë¦¬ë‚˜
1   2   ìœˆí„°
2   3   ë‹ë‹

In [9]:
# ê°’ì´ ë¦¬ìŠ¤íŠ¸ì¸ ë”•ì…”ë„ˆë¦¬ë¡œ ìƒì„±
data = {
    'ê³ ê°ID' : [101, 102, 103, 104, 105],
    'ì´ë¦„' : ['í•´ë¦°', 'í˜œì¸', 'í•˜ë‹ˆ', 'ë‹¤ë‹ˆì—˜', 'ë¯¼ì§€'],
    'ë‚˜ì´' : [18, 16, 19, 19, 20],
    'ê¸ˆì•¡' : [25000, 30000, 15000, 50000, 100000],
    'êµ¬ë§¤íšŸìˆ˜' : [1, 2, 1, 4, 5]
}

In [10]:
df = pd.DataFrame(data)
df

   ê³ ê°ID   ì´ë¦„  ë‚˜ì´      ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
0   101   í•´ë¦°  18   25000     1
1   102   í˜œì¸  16   30000     2
2   103   í•˜ë‹ˆ  19   15000     1
3   104  ë‹¤ë‹ˆì—˜  19   50000     4
4   105   ë¯¼ì§€  20  100000     5

In [11]:
df = pd.DataFrame(data, index = range(5,10))
df

   ê³ ê°ID   ì´ë¦„  ë‚˜ì´      ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
5   101   í•´ë¦°  18   25000     1
6   102   í˜œì¸  16   30000     2
7   103   í•˜ë‹ˆ  19   15000     1
8   104  ë‹¤ë‹ˆì—˜  19   50000     4
9   105   ë¯¼ì§€  20  100000     5

In [12]:
df = pd.DataFrame(data, index = ['row1', 'row2', 'row3', 'row4', 'row5'])
df

      ê³ ê°ID   ì´ë¦„  ë‚˜ì´      ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
row1   101   í•´ë¦°  18   25000     1
row2   102   í˜œì¸  16   30000     2
row3   103   í•˜ë‹ˆ  19   15000     1
row4   104  ë‹¤ë‹ˆì—˜  19   50000     4
row5   105   ë¯¼ì§€  20  100000     5

### 2-2. ë°ì´í„°í”„ë ˆì„ í™•ì¸í•˜ê¸°
- head : ìƒìœ„ 5ê°œ í–‰ ì¶œë ¥
- info : ì—´ê³¼ ë°ì´í„° íƒ€ì…, ë©”ëª¨ë¦¬ ì‚¬ìš©ëŸ‰ ë“± ì •ë³´ ì¶œë ¥
- describe : ìˆ˜ì¹˜í˜• ë°ì´í„°ì˜ í‰ê· , í‘œì¤€í¸ì°¨, ìµœì†Ÿê°’, ìµœëŒ“ê°’ ë“± ê¸°ë³¸ í†µê³„ì •ë³´ ì¶œë ¥

In [13]:
df.head(3)

      ê³ ê°ID  ì´ë¦„  ë‚˜ì´     ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
row1   101  í•´ë¦°  18  25000     1
row2   102  í˜œì¸  16  30000     2
row3   103  í•˜ë‹ˆ  19  15000     1

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, row1 to row5
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ê³ ê°ID    5 non-null      int64
 1   ì´ë¦„      5 non-null      object
 2   ë‚˜ì´      5 non-null      int64
 3   ê¸ˆì•¡      5 non-null      int64
 4   êµ¬ë§¤íšŸìˆ˜    5 non-null      int64
dtypes: int64(4), object(1)
memory usage: 240.0+ bytes

In [15]:
df.describe()

             ê³ ê°ID         ë‚˜ì´             ê¸ˆì•¡     êµ¬ë§¤íšŸìˆ˜
count    5.000000   5.000000       5.000000  5.00000
mean   103.000000  18.400000   44000.000000  2.60000
std      1.581139   1.516575   33800.887562  1.81659
min    101.000000  16.000000   15000.000000  1.00000
25%    102.000000  18.000000   25000.000000  1.00000
50%    103.000000  19.000000   30000.000000  2.00000
75%    104.000000  19.000000   50000.000000  4.00000
max    105.000000  20.000000  100000.000000  5.00000

### 2-3. ë°ì´í„° ì„ íƒí•˜ê¸°
- loc : ì¸ë±ìŠ¤ ë¼ë²¨ì„ ê¸°ì¤€ìœ¼ë¡œ ë°ì´í„° ì„ íƒ
- iloc : ì¸ë±ìŠ¤ ë²ˆí˜¸ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë°ì´í„° ì„ íƒ

In [16]:
df

      ê³ ê°ID   ì´ë¦„  ë‚˜ì´      ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
row1   101   í•´ë¦°  18   25000     1
row2   102   í˜œì¸  16   30000     2
row3   103   í•˜ë‹ˆ  19   15000     1
row4   104  ë‹¤ë‹ˆì—˜  19   50000     4
row5   105   ë¯¼ì§€  20  100000     5

In [17]:
df['ì´ë¦„']

row1     í•´ë¦°
row2     í˜œì¸
row3     í•˜ë‹ˆ
row4    ë‹¤ë‹ˆì—˜
row5     ë¯¼ì§€
Name: ì´ë¦„, dtype: object

In [18]:
df[['ì´ë¦„', 'ê¸ˆì•¡']]

       ì´ë¦„      ê¸ˆì•¡
row1   í•´ë¦°   25000
row2   í˜œì¸   30000
row3   í•˜ë‹ˆ   15000
row4  ë‹¤ë‹ˆì—˜   50000
row5   ë¯¼ì§€  100000

In [19]:
# loc, iloc
df.loc['row1']

ê³ ê°ID      101
ì´ë¦„         í•´ë¦°
ë‚˜ì´         18
ê¸ˆì•¡      25000
êµ¬ë§¤íšŸìˆ˜        1
Name: row1, dtype: object

In [20]:
df.iloc[0]

ê³ ê°ID      101
ì´ë¦„         í•´ë¦°
ë‚˜ì´         18
ê¸ˆì•¡      25000
êµ¬ë§¤íšŸìˆ˜        1
Name: row1, dtype: object

In [21]:
df.loc[['row1', 'row3']]

      ê³ ê°ID  ì´ë¦„  ë‚˜ì´     ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
row1   101  í•´ë¦°  18  25000     1
row3   103  í•˜ë‹ˆ  19  15000     1

In [22]:
df.iloc[[0, 2]]

      ê³ ê°ID  ì´ë¦„  ë‚˜ì´     ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
row1   101  í•´ë¦°  18  25000     1
row3   103  í•˜ë‹ˆ  19  15000     1

In [23]:
df.loc['row1', ['ì´ë¦„', 'ê¸ˆì•¡']]

ì´ë¦„       í•´ë¦°
ê¸ˆì•¡    25000
Name: row1, dtype: object

In [24]:
df.iloc[0, [1, 3]]

ì´ë¦„       í•´ë¦°
ê¸ˆì•¡    25000
Name: row1, dtype: object

In [25]:
df.loc['row1':'row3']

      ê³ ê°ID  ì´ë¦„  ë‚˜ì´     ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
row1   101  í•´ë¦°  18  25000     1
row2   102  í˜œì¸  16  30000     2
row3   103  í•˜ë‹ˆ  19  15000     1

In [26]:
df.iloc[0:3]

      ê³ ê°ID  ì´ë¦„  ë‚˜ì´     ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
row1   101  í•´ë¦°  18  25000     1
row2   102  í˜œì¸  16  30000     2
row3   103  í•˜ë‹ˆ  19  15000     1

In [27]:
df.loc['row1':'row3', ['ì´ë¦„', 'ê¸ˆì•¡', 'êµ¬ë§¤íšŸìˆ˜']]

      ì´ë¦„     ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
row1  í•´ë¦°  25000     1
row2  í˜œì¸  30000     2
row3  í•˜ë‹ˆ  15000     1

In [28]:
df.iloc[0:3, [1, 3, 4]]

      ì´ë¦„     ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
row1  í•´ë¦°  25000     1
row2  í˜œì¸  30000     2
row3  í•˜ë‹ˆ  15000     1

In [29]:
# Q. ì•„ë˜ ë°ì´í„°í”„ë ˆì„ì—ì„œ í•´ë‹¹í•˜ëŠ” ê°’ì„ ì°¾ì•„ ì¶œë ¥í•´ë³´ì„¸ìš”.
data = {
    'í•™ìƒ' : ['ì² ìˆ˜', 'ì§±êµ¬', 'í›ˆì´', 'ìœ ë¦¬', 'ìˆ˜ì§€', 'í°ë‘¥ì´', 'ì§±ì•„', 'ë§¹êµ¬', 'ë¯¸ë¦¬', 'ì„±ì•„'],
    'êµ­ì–´' : [88, 92, 76, 81, 95, 67, 80, 91, 85, 73],
    'ì˜ì–´' : [78, 85, 92, 88, 76, 84, 90, 81, 89, 80],
    'ìˆ˜í•™' : [90, 78, 82, 94, 87, 79, 83, 88, 76, 92],
    'ì‚¬íšŒ' : [85, 92, 88, 77, 91, 82, 90, 79, 84, 88],
    'ê³¼í•™' : [91, 79, 88, 85, 82, 90, 87, 94, 83, 86]
}
df = pd.DataFrame(data)
df

    í•™ìƒ  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ì‚¬íšŒ  ê³¼í•™
0   ì² ìˆ˜  88  78  90  85  91
1   ì§±êµ¬  92  85  78  92  79
2   í›ˆì´  76  92  82  88  88
3   ìœ ë¦¬  81  88  94  77  85
4   ìˆ˜ì§€  95  76  87  91  82
5  í°ë‘¥ì´  67  84  79  82  90
6   ì§±ì•„  80  90  83  90  87
7   ë§¹êµ¬  91  81  88  79  94
8   ë¯¸ë¦¬  85  89  76  84  83
9   ì„±ì•„  73  80  92  88  86

In [30]:
# 1. í›ˆì´ì˜ ìˆ˜í•™ì ìˆ˜ë¥¼ ì¶œë ¥í•´ë³´ì„¸ìš”
df.loc[2, 'ìˆ˜í•™']

np.int64(82)

In [31]:
df.iloc[2, 3]

np.int64(82)

In [32]:
# 2. ìœ ë¦¬ì˜ ì˜ì–´ì ìˆ˜ë¥¼ ì¶œë ¥í•´ë³´ì„¸ìš”
df.loc[3, 'ì˜ì–´']

np.int64(88)

In [33]:
df.iloc[3, 2]

np.int64(88)

In [34]:
# 3. í•™ìƒë“¤ì˜ ì‚¬íšŒ ì ìˆ˜ë§Œ ë³´ê¸° ìœ„í•´ í•´ë‹¹ ì—´ì„ ì„ íƒí•´ ì¶œë ¥í•´ë³´ì„¸ìš”
df['ì‚¬íšŒ']

0    85
1    92
2    88
3    77
4    91
5    82
6    90
7    79
8    84
9    88
Name: ì‚¬íšŒ, dtype: int64

In [35]:
# 4. ì² ìˆ˜ë¶€í„° ìˆ˜ì§€ê¹Œì§€ì˜ ì˜ì–´ì™€ ê³¼í•™ ì ìˆ˜ë§Œ ì¶œë ¥í•´ë³´ì„¸ìš”
df.iloc[0:5, [2, 5]]

   ì˜ì–´  ê³¼í•™
0  78  91
1  85  79
2  92  88
3  88  85
4  76  82

In [36]:
# 5. í°ë‘¥ì´ë¶€í„° ì„±ì•„ê¹Œì§€ ëª¨ë“  ê³¼ëª©ì˜ ì ìˆ˜ë¥¼ ì¶œë ¥í•´ë³´ì„¸ìš”
df.loc[5:]

    í•™ìƒ  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ì‚¬íšŒ  ê³¼í•™
5  í°ë‘¥ì´  67  84  79  82  90
6   ì§±ì•„  80  90  83  90  87
7   ë§¹êµ¬  91  81  88  79  94
8   ë¯¸ë¦¬  85  89  76  84  83
9   ì„±ì•„  73  80  92  88  86

### 2-4. ë°ì´í„° ìˆ˜ì •í•˜ê¸°
- columns : ì „ì²´ ì»¬ëŸ¼ëª… ë³€ê²½í•˜ê¸°
- rename : ì„ íƒí•˜ì—¬ ì»¬ëŸ¼ëª… ë³€ê²½í•˜ê¸°

In [37]:
sample_data = {
    'alphabet' : ['A', 'B', 'C'],
    'number' : [1, 2, 3], 
    'color' : ['red', 'orange', 'yellow']
}
sample_df = pd.DataFrame(sample_data)
sample_df

  alphabet  number   color
0        A       1     red
1        B       2  orange
2        C       3  yellow

In [38]:
sample_df.columns = ['ì•ŒíŒŒë²³', 'ë„˜ë²„', 'ì»¬ëŸ¬']
sample_df

  ì•ŒíŒŒë²³  ë„˜ë²„      ì»¬ëŸ¬
0   A   1     red
1   B   2  orange
2   C   3  yellow

In [39]:
sample_df.rename(columns={'ë„˜ë²„' : 'ìˆ«ì'})

  ì•ŒíŒŒë²³  ìˆ«ì      ì»¬ëŸ¬
0   A   1     red
1   B   2  orange
2   C   3  yellow

In [40]:
sample_df

  ì•ŒíŒŒë²³  ë„˜ë²„      ì»¬ëŸ¬
0   A   1     red
1   B   2  orange
2   C   3  yellow

In [41]:
sample_df.rename(columns={'ë„˜ë²„' : 'ìˆ«ì', 'ì»¬ëŸ¬' : 'ìƒ‰ê¹”'}, inplace=True)
sample_df

  ì•ŒíŒŒë²³  ìˆ«ì      ìƒ‰ê¹”
0   A   1     red
1   B   2  orange
2   C   3  yellow

In [42]:
sample_df.loc[1, 'ì•ŒíŒŒë²³'] = 'D'
sample_df

  ì•ŒíŒŒë²³  ìˆ«ì      ìƒ‰ê¹”
0   A   1     red
1   D   2  orange
2   C   3  yellow

In [43]:
sample_df.loc[0, ['ì•ŒíŒŒë²³', 'ìƒ‰ê¹”']] = ['E', 'pink']
sample_df

  ì•ŒíŒŒë²³  ìˆ«ì      ìƒ‰ê¹”
0   E   1    pink
1   D   2  orange
2   C   3  yellow

### 2-5. ë°ì´í„° í•„í„°ë§
1. ë‹¨ì¼ì¡°ê±´ìœ¼ë¡œ ë°ì´í„° ì„ íƒ
2. ì—¬ëŸ¬ ì¡°ê±´ì„ ì‚¬ìš©í•œ ë°ì´í„° ì„ íƒ
3. íŠ¹ì • ê°’ì„ í¬í•¨í•˜ëŠ” ë°ì´í„° ì„ íƒ
4. íŠ¹ì • ì¡°ê±´ì„ ë§Œì¡±í•˜ëŠ” í–‰ì˜ ì¸ë±ìŠ¤ë§Œ ì„ íƒ

In [44]:
data = {
    'í•™ìƒ' : ['ì² ìˆ˜', 'ì§±êµ¬', 'í›ˆì´', 'ìœ ë¦¬', 'ìˆ˜ì§€', 'í°ë‘¥ì´', 'ì§±ì•„', 'ë§¹êµ¬', 'ë¯¸ë¦¬', 'ì„±ì•„'],
    'êµ­ì–´' : [88, 92, 76, 81, 95, 67, 80, 91, 85, 73],
    'ì˜ì–´' : [78, 85, 92, 88, 76, 84, 90, 81, 89, 80],
    'ìˆ˜í•™' : [90, 78, 82, 94, 87, 79, 83, 88, 76, 92],
    'ì‚¬íšŒ' : [85, 92, 88, 77, 91, 82, 90, 79, 84, 88],
    'ê³¼í•™' : [91, 79, 88, 85, 82, 90, 87, 94, 83, 86]
}
df = pd.DataFrame(data)
df

    í•™ìƒ  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ì‚¬íšŒ  ê³¼í•™
0   ì² ìˆ˜  88  78  90  85  91
1   ì§±êµ¬  92  85  78  92  79
2   í›ˆì´  76  92  82  88  88
3   ìœ ë¦¬  81  88  94  77  85
4   ìˆ˜ì§€  95  76  87  91  82
5  í°ë‘¥ì´  67  84  79  82  90
6   ì§±ì•„  80  90  83  90  87
7   ë§¹êµ¬  91  81  88  79  94
8   ë¯¸ë¦¬  85  89  76  84  83
9   ì„±ì•„  73  80  92  88  86

In [45]:
df['êµ­ì–´'] >= 80

0     True
1     True
2    False
3     True
4     True
5    False
6     True
7     True
8     True
9    False
Name: êµ­ì–´, dtype: bool

In [46]:
df[df['êµ­ì–´'] >= 80]

   í•™ìƒ  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ì‚¬íšŒ  ê³¼í•™
0  ì² ìˆ˜  88  78  90  85  91
1  ì§±êµ¬  92  85  78  92  79
3  ìœ ë¦¬  81  88  94  77  85
4  ìˆ˜ì§€  95  76  87  91  82
6  ì§±ì•„  80  90  83  90  87
7  ë§¹êµ¬  91  81  88  79  94
8  ë¯¸ë¦¬  85  89  76  84  83

In [47]:
# êµ­ì–´ì ìˆ˜ê°€ 80ì  ì´ìƒì´ê³ , ì‚¬íšŒì ìˆ˜ê°€ 85ì ì¸ ë°ì´í„°
# andì¡°ê±´ '&'
df[(df['êµ­ì–´'] >= 80) & (df['ì‚¬íšŒ'] == 85)]

   í•™ìƒ  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ì‚¬íšŒ  ê³¼í•™
0  ì² ìˆ˜  88  78  90  85  91

In [48]:
# ì˜ì–´ì ìˆ˜ê°€ 85ì  ì´ìƒì´ê±°ë‚˜, ìˆ˜í•™ ì ìˆ˜ê°€ 90ì  ì´ìƒì¸ ë°ì´í„°
# or ì¡°ê±´ '|'
df[(df['ì˜ì–´'] >= 85) | (df['ìˆ˜í•™'] >= 90)]

   í•™ìƒ  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ì‚¬íšŒ  ê³¼í•™
0  ì² ìˆ˜  88  78  90  85  91
1  ì§±êµ¬  92  85  78  92  79
2  í›ˆì´  76  92  82  88  88
3  ìœ ë¦¬  81  88  94  77  85
6  ì§±ì•„  80  90  83  90  87
8  ë¯¸ë¦¬  85  89  76  84  83
9  ì„±ì•„  73  80  92  88  86

In [49]:
# ê³¼í•™ì ìˆ˜ê°€ 91ì , 86ì ì¸ ë°ì´í„°
df[df['ê³¼í•™'].isin([91, 86])]

   í•™ìƒ  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ì‚¬íšŒ  ê³¼í•™
0  ì² ìˆ˜  88  78  90  85  91
9  ì„±ì•„  73  80  92  88  86

In [50]:
# ì˜ì–´ì ìˆ˜ê°€ 90ì  ì´ìƒì¸ ë°ì´í„°ì˜ ì¸ë±ìŠ¤ë§Œ ì•Œê³  ì‹¶ë‹¤
df[df['ì˜ì–´'] >= 90].index

Index([2, 6], dtype='int64')

In [51]:
# ì•„ë˜ ë°ì´í„°í”„ë ˆì„ì—ì„œ ë¬¸ì œë¥¼ í•´ê²°í•´ë³´ì„¸ìš”
data2 = {
    'ìƒí’ˆëª…': ['ë…¸íŠ¸ë¶', 'ëª¨ë‹ˆí„°', 'í‚¤ë³´ë“œ', 'ë§ˆìš°ìŠ¤', 'í—¤ë“œì…‹', 'USB í—ˆë¸Œ', 'í”„ë¦°í„°', 'ìŠ¤í”¼ì»¤', 'ì›¹ìº ', 'ì±…ìƒ'],
    'ê°€ê²©': [1200000, 300000, 50000, 25000, 80000, 15000, 200000, 70000, 40000, 150000],
    'ìˆ˜ëŸ‰': [3, 10, 5, 20, 7, 15, 2, 5, 8, 1],
    'ì¹´í…Œê³ ë¦¬': ['ì „ìê¸°ê¸°', 'ì „ìê¸°ê¸°', 'ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°', 'ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°', 'ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°', 'ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°', 'ì‚¬ë¬´ìš©í’ˆ', 'ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°', 'ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°', 'ì‚¬ë¬´ìš©í’ˆ']
}
df_shopping = pd.DataFrame(data2)
df_shopping
# 1. ìƒí’ˆëª…ì€ ì œí’ˆëª…ìœ¼ë¡œ, ì¹´í…Œê³ ë¦¬ëŠ” ë¶„ë¥˜ë¡œ ì»¬ëŸ¼ëª…ì„ ë³€ê²½í•´ë³´ì„¸ìš”
# 2. 100000 ê°€ê²© ì´ìƒì˜ ìƒí’ˆì„ ë°ì´í„°í”„ë ˆì„ í˜•íƒœë¡œ ì¶œë ¥í•´ë³´ì„¸ìš”
# 3. ì¹´í…Œê³ ë¦¬ê°€ ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°ì¸ ë°ì´í„°ì˜ ê°€ê²©ê³¼ ìˆ˜ëŸ‰ë§Œ ì¶œë ¥í•´ë³´ì„¸ìš”
# 4. ê°€ê²©ì´ 50000ì› ì´ìƒ 300000 ì´í•˜ì¸ ì œí’ˆì˜ ë°ì´í„°ë§Œ ì¶œë ¥í•´ë³´ì„¸ìš”
# 5. ìˆ˜ëŸ‰ì´ 10ê°œ ì´ìƒì¸ ë°ì´í„°ë“¤ì˜ 'ìˆ˜ëŸ‰'ì»¬ëŸ¼ëª…ì„ 'ì¬ê³ ìˆ˜ëŸ‰'ìœ¼ë¡œ ìˆ˜ì •í•˜ì—¬ ë‹¤ë¥¸ ì´ë¦„ì˜ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ì €ì¥í•´ì„œ ì¶œë ¥í•´ë³´ì„¸ìš”

      ìƒí’ˆëª…       ê°€ê²©  ìˆ˜ëŸ‰      ì¹´í…Œê³ ë¦¬
0     ë…¸íŠ¸ë¶  1200000   3      ì „ìê¸°ê¸°
1     ëª¨ë‹ˆí„°   300000  10      ì „ìê¸°ê¸°
2     í‚¤ë³´ë“œ    50000   5  ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°
3     ë§ˆìš°ìŠ¤    25000  20  ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°
4     í—¤ë“œì…‹    80000   7  ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°
5  USB í—ˆë¸Œ    15000  15  ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°
6     í”„ë¦°í„°   200000   2      ì‚¬ë¬´ìš©í’ˆ
7     ìŠ¤í”¼ì»¤    70000   5  ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°
8      ì›¹ìº     40000   8  ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°
9      ì±…ìƒ   150000   1      ì‚¬ë¬´ìš©í’ˆ

In [52]:
# 1. ìƒí’ˆëª…ì€ ì œí’ˆëª…ìœ¼ë¡œ, ì¹´í…Œê³ ë¦¬ëŠ” ë¶„ë¥˜ë¡œ ì»¬ëŸ¼ëª…ì„ ë³€ê²½í•´ë³´ì„¸ìš”
df_rename = df_shopping.rename(columns={'ìƒí’ˆëª…' : 'ì œí’ˆëª…', 'ì¹´í…Œê³ ë¦¬' : 'ë¶„ë¥˜'})

In [53]:
df_rename

      ì œí’ˆëª…       ê°€ê²©  ìˆ˜ëŸ‰        ë¶„ë¥˜
0     ë…¸íŠ¸ë¶  1200000   3      ì „ìê¸°ê¸°
1     ëª¨ë‹ˆí„°   300000  10      ì „ìê¸°ê¸°
2     í‚¤ë³´ë“œ    50000   5  ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°
3     ë§ˆìš°ìŠ¤    25000  20  ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°
4     í—¤ë“œì…‹    80000   7  ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°
5  USB í—ˆë¸Œ    15000  15  ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°
6     í”„ë¦°í„°   200000   2      ì‚¬ë¬´ìš©í’ˆ
7     ìŠ¤í”¼ì»¤    70000   5  ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°
8      ì›¹ìº     40000   8  ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°
9      ì±…ìƒ   150000   1      ì‚¬ë¬´ìš©í’ˆ

In [54]:
# 2. 100000 ê°€ê²© ì´ìƒì˜ ìƒí’ˆì„ ë°ì´í„°í”„ë ˆì„ í˜•íƒœë¡œ ì¶œë ¥í•´ë³´ì„¸ìš”
df_shopping[df_shopping['ê°€ê²©'] >= 100000]

   ìƒí’ˆëª…       ê°€ê²©  ìˆ˜ëŸ‰  ì¹´í…Œê³ ë¦¬
0  ë…¸íŠ¸ë¶  1200000   3  ì „ìê¸°ê¸°
1  ëª¨ë‹ˆí„°   300000  10  ì „ìê¸°ê¸°
6  í”„ë¦°í„°   200000   2  ì‚¬ë¬´ìš©í’ˆ
9   ì±…ìƒ   150000   1  ì‚¬ë¬´ìš©í’ˆ

In [55]:
# 3. ì¹´í…Œê³ ë¦¬ê°€ ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°ì¸ ë°ì´í„°ì˜ ê°€ê²©ê³¼ ìˆ˜ëŸ‰ë§Œ ì¶œë ¥í•´ë³´ì„¸ìš”
df_shopping[df_shopping['ì¹´í…Œê³ ë¦¬'] == 'ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°'].iloc[:, 1:3]

      ê°€ê²©  ìˆ˜ëŸ‰
2  50000   5
3  25000  20
4  80000   7
5  15000  15
7  70000   5
8  40000   8

In [56]:
# 3. ì¹´í…Œê³ ë¦¬ê°€ ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°ì¸ ë°ì´í„°ì˜ ê°€ê²©ê³¼ ìˆ˜ëŸ‰ë§Œ ì¶œë ¥í•´ë³´ì„¸ìš”
df_shopping[df_shopping['ì¹´í…Œê³ ë¦¬'] == 'ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°'][['ê°€ê²©', 'ìˆ˜ëŸ‰']]

      ê°€ê²©  ìˆ˜ëŸ‰
2  50000   5
3  25000  20
4  80000   7
5  15000  15
7  70000   5
8  40000   8

In [57]:
# 4. ê°€ê²©ì´ 50000ì› ì´ìƒ 300000 ì´í•˜ì¸ ì œí’ˆì˜ ë°ì´í„°ë§Œ ì¶œë ¥í•´ë³´ì„¸ìš”
df_shopping[(df_shopping['ê°€ê²©'] >= 50000) & (df_shopping['ê°€ê²©'] <= 300000)]

   ìƒí’ˆëª…      ê°€ê²©  ìˆ˜ëŸ‰      ì¹´í…Œê³ ë¦¬
1  ëª¨ë‹ˆí„°  300000  10      ì „ìê¸°ê¸°
2  í‚¤ë³´ë“œ   50000   5  ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°
4  í—¤ë“œì…‹   80000   7  ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°
6  í”„ë¦°í„°  200000   2      ì‚¬ë¬´ìš©í’ˆ
7  ìŠ¤í”¼ì»¤   70000   5  ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°
9   ì±…ìƒ  150000   1      ì‚¬ë¬´ìš©í’ˆ

In [58]:
# 5. ìˆ˜ëŸ‰ì´ 10ê°œ ì´ìƒì¸ ë°ì´í„°ë“¤ì˜ 'ìˆ˜ëŸ‰'ì»¬ëŸ¼ëª…ì„
# 'ì¬ê³ ìˆ˜ëŸ‰'ìœ¼ë¡œ ìˆ˜ì •í•˜ì—¬ ë‹¤ë¥¸ ì´ë¦„ì˜ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ì €ì¥í•´ì„œ ì¶œë ¥í•´ë³´ì„¸ìš”
df_more = df_shopping[df_shopping['ìˆ˜ëŸ‰'] >= 10]
df_more.rename(columns={'ìˆ˜ëŸ‰' : 'ì¬ê³ ìˆ˜ëŸ‰'}, inplace=True)
df_more

C:\Users\RMARKET\AppData\Local\Temp\ipykernel_8744\3174948664.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_more.rename(columns={'ìˆ˜ëŸ‰' : 'ì¬ê³ ìˆ˜ëŸ‰'}, inplace=True)

      ìƒí’ˆëª…      ê°€ê²©  ì¬ê³ ìˆ˜ëŸ‰      ì¹´í…Œê³ ë¦¬
1     ëª¨ë‹ˆí„°  300000    10      ì „ìê¸°ê¸°
3     ë§ˆìš°ìŠ¤   25000    20  ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°
5  USB í—ˆë¸Œ   15000    15  ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°

In [59]:
df_more2 = df_shopping[df_shopping['ìˆ˜ëŸ‰'] >= 10].rename(columns={'ìˆ˜ëŸ‰' : 'ì¬ê³ ìˆ˜ëŸ‰'})
df_more2

      ìƒí’ˆëª…      ê°€ê²©  ì¬ê³ ìˆ˜ëŸ‰      ì¹´í…Œê³ ë¦¬
1     ëª¨ë‹ˆí„°  300000    10      ì „ìê¸°ê¸°
3     ë§ˆìš°ìŠ¤   25000    20  ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°
5  USB í—ˆë¸Œ   15000    15  ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°

## 3. ë°ì´í„° ì „ì²˜ë¦¬
### 3-1. ê²°ì¸¡ì¹˜ ì²˜ë¦¬
- fillna : ê²°ì¸¡ì¹˜ ì±„ìš°ê¸°

In [60]:
data_with_nan = {
    'ê³ ê°ID' : [101, 102, 103, 104, 105],
    'ì´ë¦„' : ['ìˆ˜ì—°', 'ì„œìœ¤', 'ì†Œë¦¬', 'ì‹œì€', None],
    'ë‚˜ì´' : [27, None, 24, 27, 26],
    'êµ¬ë§¤ê¸ˆì•¡' : [25000, 30000, None, 50000, 100000],
    'êµ¬ë§¤íšŸìˆ˜' : [1, 2, 1, 4, 5]
}
df_with_nan = pd.DataFrame(data_with_nan)
df_with_nan

   ê³ ê°ID    ì´ë¦„    ë‚˜ì´      êµ¬ë§¤ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
0   101    ìˆ˜ì—°  27.0   25000.0     1
1   102    ì„œìœ¤   NaN   30000.0     2
2   103    ì†Œë¦¬  24.0       NaN     1
3   104    ì‹œì€  27.0   50000.0     4
4   105  None  26.0  100000.0     5

In [61]:
df_with_nan.isnull()

    ê³ ê°ID     ì´ë¦„     ë‚˜ì´   êµ¬ë§¤ê¸ˆì•¡   êµ¬ë§¤íšŸìˆ˜
0  False  False  False  False  False
1  False  False   True  False  False
2  False  False  False   True  False
3  False  False  False  False  False
4  False   True  False  False  False

In [62]:
df_with_nan.isnull().sum()

ê³ ê°ID    0
ì´ë¦„      1
ë‚˜ì´      1
êµ¬ë§¤ê¸ˆì•¡    1
êµ¬ë§¤íšŸìˆ˜    0
dtype: int64

In [63]:
df_with_nan.isnull().sum().sum()

np.int64(3)

#### ê²°ì¸¡ì¹˜ ì²˜ë¦¬ ë°©ë²•
1. ê²°ì¸¡ì¹˜ê°€ í¬í•¨ëœ í–‰ ì œê±°
2. ê²°ì¸¡ì¹˜ê°€ í¬í•¨ëœ ì—´ ì œê±°
3. ê²°ì¸¡ì¹˜ë¥¼ íŠ¹ì • ê°’ìœ¼ë¡œ ëŒ€ì²´ (ex. 0)
4. ê²°ì¸¡ì¹˜ë¥¼ í‰ê· ê°’ìœ¼ë¡œ ëŒ€ì²´

In [64]:
df_with_nan

   ê³ ê°ID    ì´ë¦„    ë‚˜ì´      êµ¬ë§¤ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
0   101    ìˆ˜ì—°  27.0   25000.0     1
1   102    ì„œìœ¤   NaN   30000.0     2
2   103    ì†Œë¦¬  24.0       NaN     1
3   104    ì‹œì€  27.0   50000.0     4
4   105  None  26.0  100000.0     5

In [65]:
df_drop_row = df_with_nan.dropna()
df_drop_row

   ê³ ê°ID  ì´ë¦„    ë‚˜ì´     êµ¬ë§¤ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
0   101  ìˆ˜ì—°  27.0  25000.0     1
3   104  ì‹œì€  27.0  50000.0     4

In [66]:
df_drop_col = df_with_nan.dropna(axis = 1)
df_drop_col

   ê³ ê°ID  êµ¬ë§¤íšŸìˆ˜
0   101     1
1   102     2
2   103     1
3   104     4
4   105     5

In [67]:
df_fill_zero = df_with_nan.fillna(0)
df_fill_zero

   ê³ ê°ID  ì´ë¦„    ë‚˜ì´      êµ¬ë§¤ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
0   101  ìˆ˜ì—°  27.0   25000.0     1
1   102  ì„œìœ¤   0.0   30000.0     2
2   103  ì†Œë¦¬  24.0       0.0     1
3   104  ì‹œì€  27.0   50000.0     4
4   105   0  26.0  100000.0     5

In [68]:
df_with_nan['ë‚˜ì´'].mean()

np.float64(26.0)

In [69]:
df_with_nan['ë‚˜ì´'].fillna(df_with_nan['ë‚˜ì´'].mean(), inplace=True)

C:\Users\RMARKET\AppData\Local\Temp\ipykernel_8744\2597103786.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_with_nan['ë‚˜ì´'].fillna(df_with_nan['ë‚˜ì´'].mean(), inplace=True)

In [70]:
df_with_nan

   ê³ ê°ID    ì´ë¦„    ë‚˜ì´      êµ¬ë§¤ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
0   101    ìˆ˜ì—°  27.0   25000.0     1
1   102    ì„œìœ¤  26.0   30000.0     2
2   103    ì†Œë¦¬  24.0       NaN     1
3   104    ì‹œì€  27.0   50000.0     4
4   105  None  26.0  100000.0     5

In [71]:
df_with_nan['êµ¬ë§¤ê¸ˆì•¡'].fillna(df_with_nan['êµ¬ë§¤ê¸ˆì•¡'].mean(), inplace=True)

C:\Users\RMARKET\AppData\Local\Temp\ipykernel_8744\3426081722.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_with_nan['êµ¬ë§¤ê¸ˆì•¡'].fillna(df_with_nan['êµ¬ë§¤ê¸ˆì•¡'].mean(), inplace=True)

In [72]:
df_with_nan.reset_index()

   index  ê³ ê°ID    ì´ë¦„    ë‚˜ì´      êµ¬ë§¤ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
0      0   101    ìˆ˜ì—°  27.0   25000.0     1
1      1   102    ì„œìœ¤  26.0   30000.0     2
2      2   103    ì†Œë¦¬  24.0   51250.0     1
3      3   104    ì‹œì€  27.0   50000.0     4
4      4   105  None  26.0  100000.0     5

In [73]:
df_fill_nan = df_with_nan.reset_index(drop=True)

In [74]:
df_fill_nan

   ê³ ê°ID    ì´ë¦„    ë‚˜ì´      êµ¬ë§¤ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
0   101    ìˆ˜ì—°  27.0   25000.0     1
1   102    ì„œìœ¤  26.0   30000.0     2
2   103    ì†Œë¦¬  24.0   51250.0     1
3   104    ì‹œì€  27.0   50000.0     4
4   105  None  26.0  100000.0     5

In [75]:
# ë°ì´í„°ì¤‘ ë¬¸ìì—´ ê²°ì¸¡ì¹˜ë¥¼ ì±„ìš°ëŠ” ë°©ë²• ê³ ë¯¼í•´ë³´ê¸°!!!!!!!!!!!

In [76]:
df_fill_nan['ì´ë¦„'].fillna('ì•Œ ìˆ˜ ì—†ìŒ', inplace=True)
df_fill_nan

C:\Users\RMARKET\AppData\Local\Temp\ipykernel_8744\1735002752.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_fill_nan['ì´ë¦„'].fillna('ì•Œ ìˆ˜ ì—†ìŒ', inplace=True)

   ê³ ê°ID      ì´ë¦„    ë‚˜ì´      êµ¬ë§¤ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
0   101      ìˆ˜ì—°  27.0   25000.0     1
1   102      ì„œìœ¤  26.0   30000.0     2
2   103      ì†Œë¦¬  24.0   51250.0     1
3   104      ì‹œì€  27.0   50000.0     4
4   105  ì•Œ ìˆ˜ ì—†ìŒ  26.0  100000.0     5

### 3-2. ì¤‘ë³µ ì œê±° ë° ì •ë ¬
- drop_duplicates : ì¤‘ë³µê°’ ì œê±°
- sort_values : ì •ë ¬

In [77]:
data_with_duplicates = {
    'ê³ ê°ID': [101, 102, 103, 101, 101],
    'ì´ë¦„': ['ì§±ì•„', 'ì² ìˆ˜', 'ì§±êµ¬', 'ìˆ˜ì§€', 'ì§±ì•„'],
    'êµ¬ë§¤ê¸ˆì•¡': [25000, 30000, 25000, 50000, 25000],
    'êµ¬ë§¤íšŸìˆ˜': [1, 2, 2, 4, 1]
}
df_with_duplicates = pd.DataFrame(data_with_duplicates)
df_with_duplicates

   ê³ ê°ID  ì´ë¦„   êµ¬ë§¤ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
0   101  ì§±ì•„  25000     1
1   102  ì² ìˆ˜  30000     2
2   103  ì§±êµ¬  25000     2
3   101  ìˆ˜ì§€  50000     4
4   101  ì§±ì•„  25000     1

In [78]:
df_with_duplicates.duplicated()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [79]:
df_no_duplicates = df_with_duplicates.drop_duplicates()
df_no_duplicates

   ê³ ê°ID  ì´ë¦„   êµ¬ë§¤ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
0   101  ì§±ì•„  25000     1
1   102  ì² ìˆ˜  30000     2
2   103  ì§±êµ¬  25000     2
3   101  ìˆ˜ì§€  50000     4

In [80]:
df_no_duplicates.drop_duplicates(subset=['ê³ ê°ID'])

   ê³ ê°ID  ì´ë¦„   êµ¬ë§¤ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
0   101  ì§±ì•„  25000     1
1   102  ì² ìˆ˜  30000     2
2   103  ì§±êµ¬  25000     2

In [81]:
df_no_duplicates.sort_values(by = 'êµ¬ë§¤ê¸ˆì•¡')

   ê³ ê°ID  ì´ë¦„   êµ¬ë§¤ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
0   101  ì§±ì•„  25000     1
2   103  ì§±êµ¬  25000     2
1   102  ì² ìˆ˜  30000     2
3   101  ìˆ˜ì§€  50000     4

In [82]:
df_no_duplicates.sort_values(by = 'êµ¬ë§¤ê¸ˆì•¡', ascending = False, inplace=True)
df_no_duplicates

C:\Users\RMARKET\AppData\Local\Temp\ipykernel_8744\190800638.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_no_duplicates.sort_values(by = 'êµ¬ë§¤ê¸ˆì•¡', ascending = False, inplace=True)

   ê³ ê°ID  ì´ë¦„   êµ¬ë§¤ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
3   101  ìˆ˜ì§€  50000     4
1   102  ì² ìˆ˜  30000     2
0   101  ì§±ì•„  25000     1
2   103  ì§±êµ¬  25000     2

In [83]:
df_no_duplicates2 = df_no_duplicates.reset_index(drop=True)
df_no_duplicates2

   ê³ ê°ID  ì´ë¦„   êµ¬ë§¤ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
0   101  ìˆ˜ì§€  50000     4
1   102  ì² ìˆ˜  30000     2
2   101  ì§±ì•„  25000     1
3   103  ì§±êµ¬  25000     2

## 4. Groupbyë¥¼ í†µí•œ ë°ì´í„° í•„í„°ë§

In [84]:
df_no_duplicates2[df_no_duplicates2['êµ¬ë§¤íšŸìˆ˜']>=2]

   ê³ ê°ID  ì´ë¦„   êµ¬ë§¤ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
0   101  ìˆ˜ì§€  50000     4
1   102  ì² ìˆ˜  30000     2
3   103  ì§±êµ¬  25000     2

In [85]:
df_no_duplicates2[df_no_duplicates2['êµ¬ë§¤ê¸ˆì•¡']>=30000]

   ê³ ê°ID  ì´ë¦„   êµ¬ë§¤ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
0   101  ìˆ˜ì§€  50000     4
1   102  ì² ìˆ˜  30000     2

### groupby
- groupby : ë°ì´í„°í”„ë ˆì„ì˜ ë°ì´í„°ë¥¼ ê·¸ë£¹ìœ¼ë¡œ ë¬¶ê³ ,ê° ê·¸ë£¹ì— ëŒ€í•´ íŠ¹ì • ì—°ì‚°ì„ ì ìš©í•  ìˆ˜ ìˆë„ë¡ í•˜ëŠ” ê¸°ëŠ¥
- ì§‘ê³„ í•¨ìˆ˜(ì˜ˆ: sum(), mean(), count(), max() ë“±)ì™€ í•¨ê»˜ ìì£¼ ì‚¬ìš©

In [86]:
data  = {
    'ê³¼ì¼' : ['ì‚¬ê³¼', 'ì‚¬ê³¼', 'ë°”ë‚˜ë‚˜','ë°”ë‚˜ë‚˜', 'í¬ë„', 'í¬ë„'],
    'íŒë§¤ëŸ‰' : [5, 3, 6, 7 ,4, 2]
}

df=pd.DataFrame(data)

In [87]:
df

    ê³¼ì¼  íŒë§¤ëŸ‰
0   ì‚¬ê³¼    5
1   ì‚¬ê³¼    3
2  ë°”ë‚˜ë‚˜    6
3  ë°”ë‚˜ë‚˜    7
4   í¬ë„    4
5   í¬ë„    2

In [88]:
df.groupby('ê³¼ì¼')['íŒë§¤ëŸ‰'].sum()

ê³¼ì¼
ë°”ë‚˜ë‚˜    13
ì‚¬ê³¼      8
í¬ë„      6
Name: íŒë§¤ëŸ‰, dtype: int64

In [89]:
df.groupby('ê³¼ì¼')['íŒë§¤ëŸ‰'].mean()

ê³¼ì¼
ë°”ë‚˜ë‚˜    6.5
ì‚¬ê³¼     4.0
í¬ë„     3.0
Name: íŒë§¤ëŸ‰, dtype: float64

In [90]:
df.groupby('ê³¼ì¼')['íŒë§¤ëŸ‰'].max()

ê³¼ì¼
ë°”ë‚˜ë‚˜    7
ì‚¬ê³¼     5
í¬ë„     4
Name: íŒë§¤ëŸ‰, dtype: int64

In [91]:
df.groupby('ê³¼ì¼')['íŒë§¤ëŸ‰'].count()

ê³¼ì¼
ë°”ë‚˜ë‚˜    2
ì‚¬ê³¼     2
í¬ë„     2
Name: íŒë§¤ëŸ‰, dtype: int64

In [92]:
data3 = [
    ['ê¹€ì² ìˆ˜', 'ê°€ì „', 120000, 2],
    ['ì´ì˜í¬', 'ê°€êµ¬', 80000, 4],
    ['ê¹€ì² ìˆ˜', 'ê°€ì „', 120000, 2],  # ì¤‘ë³µ ë°ì´í„°
    ['ë°•ë¯¼ìˆ˜', 'ìŠ¤í¬ì¸ ', 150000, 1],
    ['ìµœìˆ˜ì •', 'ìŠ¤í¬ì¸ ', 95000, 3],
    ['í•œì§€ë¯¼', 'ê°€ì „', 130000, 2],
    ['ì´ì˜í¬', 'ê°€êµ¬', 50000, 5],
    ['ìµœìˆ˜ì •', 'ìŠ¤í¬ì¸ ', 95000, 3]  # ì¤‘ë³µ ë°ì´í„°
]

# ë°ì´í„°í”„ë ˆì„ ìƒì„±
buy_df = pd.DataFrame(data3, columns=['ê³ ê°ëª…', 'ìƒí’ˆë¶„ë¥˜', 'ê¸ˆì•¡', 'ìˆ˜ëŸ‰'])
buy_df

# 1. ì¤‘ë³µëœ í–‰ì„ ì œê±°í•´ë³´ì„¸ìš”
# 2. ê¸ˆì•¡ ì»¬ëŸ¼ì„ ì¤‘ì‹¬ìœ¼ë¡œ ë°ì´í„°ë¥¼ ì •ë ¬í•´ë³´ì„¸ìš”
# 3. ìƒí’ˆë¶„ë¥˜ ì»¬ëŸ¼ì„ ê¸°ì¤€ìœ¼ë¡œ ìˆ˜ëŸ‰ í•©ê³„ë¥¼ ì¶œë ¥í•´ë³´ì„¸ìš”
# 4. ê³ ê°ëª…ë³„ ê¸ˆì•¡ì˜ í‰ê· ê°’ì„ ì¶œë ¥í•´ë³´ì„¸ìš”

   ê³ ê°ëª… ìƒí’ˆë¶„ë¥˜      ê¸ˆì•¡  ìˆ˜ëŸ‰
0  ê¹€ì² ìˆ˜   ê°€ì „  120000   2
1  ì´ì˜í¬   ê°€êµ¬   80000   4
2  ê¹€ì² ìˆ˜   ê°€ì „  120000   2
3  ë°•ë¯¼ìˆ˜  ìŠ¤í¬ì¸   150000   1
4  ìµœìˆ˜ì •  ìŠ¤í¬ì¸    95000   3
5  í•œì§€ë¯¼   ê°€ì „  130000   2
6  ì´ì˜í¬   ê°€êµ¬   50000   5
7  ìµœìˆ˜ì •  ìŠ¤í¬ì¸    95000   3

In [93]:
# 1. ì¤‘ë³µëœ í–‰ì„ ì œê±°í•´ë³´ì„¸ìš”
buy_drop = buy_df.drop_duplicates()
buy_drop

   ê³ ê°ëª… ìƒí’ˆë¶„ë¥˜      ê¸ˆì•¡  ìˆ˜ëŸ‰
0  ê¹€ì² ìˆ˜   ê°€ì „  120000   2
1  ì´ì˜í¬   ê°€êµ¬   80000   4
3  ë°•ë¯¼ìˆ˜  ìŠ¤í¬ì¸   150000   1
4  ìµœìˆ˜ì •  ìŠ¤í¬ì¸    95000   3
5  í•œì§€ë¯¼   ê°€ì „  130000   2
6  ì´ì˜í¬   ê°€êµ¬   50000   5

In [94]:
# 2. ê¸ˆì•¡ ì»¬ëŸ¼ì„ ì¤‘ì‹¬ìœ¼ë¡œ ë°ì´í„°ë¥¼ ì •ë ¬í•´ë³´ì„¸ìš”
buy_sorted = buy_drop.sort_values(by='ê¸ˆì•¡')
buy_sorted

   ê³ ê°ëª… ìƒí’ˆë¶„ë¥˜      ê¸ˆì•¡  ìˆ˜ëŸ‰
6  ì´ì˜í¬   ê°€êµ¬   50000   5
1  ì´ì˜í¬   ê°€êµ¬   80000   4
4  ìµœìˆ˜ì •  ìŠ¤í¬ì¸    95000   3
0  ê¹€ì² ìˆ˜   ê°€ì „  120000   2
5  í•œì§€ë¯¼   ê°€ì „  130000   2
3  ë°•ë¯¼ìˆ˜  ìŠ¤í¬ì¸   150000   1

In [95]:
# 3. ìƒí’ˆë¶„ë¥˜ ì»¬ëŸ¼ì„ ê¸°ì¤€ìœ¼ë¡œ ìˆ˜ëŸ‰ í•©ê³„ë¥¼ ì¶œë ¥í•´ë³´ì„¸ìš”
buy_sorted.groupby('ìƒí’ˆë¶„ë¥˜')['ìˆ˜ëŸ‰'].sum()

ìƒí’ˆë¶„ë¥˜
ê°€êµ¬     9
ê°€ì „     4
ìŠ¤í¬ì¸     4
Name: ìˆ˜ëŸ‰, dtype: int64

In [96]:
# 4. ê³ ê°ëª…ë³„ ê¸ˆì•¡ì˜ í‰ê· ê°’ì„ ì¶œë ¥í•´ë³´ì„¸ìš”
buy_sorted.groupby('ê³ ê°ëª…')['ê¸ˆì•¡'].mean()

ê³ ê°ëª…
ê¹€ì² ìˆ˜    120000.0
ë°•ë¯¼ìˆ˜    150000.0
ì´ì˜í¬     65000.0
ìµœìˆ˜ì •     95000.0
í•œì§€ë¯¼    130000.0
Name: ê¸ˆì•¡, dtype: float64

## 5. ë°ì´í„°í”„ë ˆì„ ë³‘í•© ë° ì—°ê²°
### 5-1. ë°ì´í„°í”„ë ˆì„ ë³‘í•©
- merge : ë°ì´í„°í”„ë ˆì„ ë³‘í•©

In [97]:
data1 = {
    'ê³ ê°ID': [101, 102, 103, 104, 105],
    'ì´ë¦„': ['ì§±ì•„', 'ì² ìˆ˜', 'ì§±êµ¬', 'ìˆ˜ì§€', 'ìœ ë¦¬'],
    'êµ¬ë§¤ê¸ˆì•¡': [25000, 30000, 25000, 50000, 25000],
    'êµ¬ë§¤íšŸìˆ˜': [1, 2, 2, 4, 1]
}
df1 = pd.DataFrame(data1)
df1

   ê³ ê°ID  ì´ë¦„   êµ¬ë§¤ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
0   101  ì§±ì•„  25000     1
1   102  ì² ìˆ˜  30000     2
2   103  ì§±êµ¬  25000     2
3   104  ìˆ˜ì§€  50000     4
4   105  ìœ ë¦¬  25000     1

In [98]:
data2 = {
    'ê³ ê°ID': [101, 102, 103, 104, 105],
    'ë§Œì¡±ë„' : [5, 4, 3, 5, 2]
}
df2 = pd.DataFrame(data2)
df2

   ê³ ê°ID  ë§Œì¡±ë„
0   101    5
1   102    4
2   103    3
3   104    5
4   105    2

In [99]:
merged_df = pd.merge(df1, df2, on='ê³ ê°ID')
merged_df

   ê³ ê°ID  ì´ë¦„   êµ¬ë§¤ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜  ë§Œì¡±ë„
0   101  ì§±ì•„  25000     1    5
1   102  ì² ìˆ˜  30000     2    4
2   103  ì§±êµ¬  25000     2    3
3   104  ìˆ˜ì§€  50000     4    5
4   105  ìœ ë¦¬  25000     1    2

In [100]:
merged_df['ê³ ê°ID']

0    101
1    102
2    103
3    104
4    105
Name: ê³ ê°ID, dtype: int64

In [101]:
merged_df['ê³ ê°ID'] = merged_df['ê³ ê°ID'].astype(int)

In [102]:
merged_df

   ê³ ê°ID  ì´ë¦„   êµ¬ë§¤ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜  ë§Œì¡±ë„
0   101  ì§±ì•„  25000     1    5
1   102  ì² ìˆ˜  30000     2    4
2   103  ì§±êµ¬  25000     2    3
3   104  ìˆ˜ì§€  50000     4    5
4   105  ìœ ë¦¬  25000     1    2

### 5-2. ë°ì´í„°í”„ë ˆì„ ì—°ê²°
- concat : ë°ì´í„°í”„ë ˆì„ ì„¸ë¡œë¡œ ì—°ê²°

In [103]:
data1 = {
    'ê³ ê°ID': [101, 102, 103, 104, 105],
    'ì´ë¦„': ['ì§±ì•„', 'ì² ìˆ˜', 'ì§±êµ¬', 'ìˆ˜ì§€', 'ìœ ë¦¬'],
    'êµ¬ë§¤ê¸ˆì•¡': [25000, 30000, 25000, 50000, 25000],
    'êµ¬ë§¤íšŸìˆ˜': [1, 2, 2, 4, 1]
}
df1 = pd.DataFrame(data1)
df1

   ê³ ê°ID  ì´ë¦„   êµ¬ë§¤ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
0   101  ì§±ì•„  25000     1
1   102  ì² ìˆ˜  30000     2
2   103  ì§±êµ¬  25000     2
3   104  ìˆ˜ì§€  50000     4
4   105  ìœ ë¦¬  25000     1

In [104]:
data2 = {
    'ê³ ê°ID': [106, 107, 108],
    'ì´ë¦„': ['ìˆ˜ë¹ˆ', 'ì˜ˆì›', 'ë„í™˜'],
    'êµ¬ë§¤ê¸ˆì•¡': [20000, 25000, 30000],
    'êµ¬ë§¤íšŸìˆ˜': [1, 3, 2]
}
df2 = pd.DataFrame(data2)
df2

   ê³ ê°ID  ì´ë¦„   êµ¬ë§¤ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
0   106  ìˆ˜ë¹ˆ  20000     1
1   107  ì˜ˆì›  25000     3
2   108  ë„í™˜  30000     2

In [105]:
df_concat = pd.concat([df1, df2], ignore_index=True)
df_concat

   ê³ ê°ID  ì´ë¦„   êµ¬ë§¤ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
0   101  ì§±ì•„  25000     1
1   102  ì² ìˆ˜  30000     2
2   103  ì§±êµ¬  25000     2
3   104  ìˆ˜ì§€  50000     4
4   105  ìœ ë¦¬  25000     1
5   106  ìˆ˜ë¹ˆ  20000     1
6   107  ì˜ˆì›  25000     3
7   108  ë„í™˜  30000     2

## 6. ë°ì´í„°í”„ë ˆì„ ë¶ˆëŸ¬ì˜¤ê¸°, ë‚´ë³´ë‚´ê¸°
- ì£¼ë¡œ excel, csvíŒŒì¼ì„ ë¶ˆëŸ¬ì˜¤ëŠ” ê²½ìš°ê°€ ë§ìŒ
- excel : openpyxl ë¼ì´ë¸ŒëŸ¬ë¦¬ ì„¤ì¹˜ í›„ read_excel
- csv : ì‰¼í‘œë¡œ êµ¬ë¶„í•œ í…ìŠ¤íŠ¸ ë°ì´í„°, read_csv

In [106]:
# pip install openpyxl

In [107]:
movie = pd.read_excel('./data/ì˜í™”ë°ì´í„°.xlsx')
movie

                   ì œëª©      ì¥ë¥´      êµ­ê°€    ì‹œê°„    í‰ì
0                ë² í…Œë‘2      ì•¡ì…˜    ëŒ€í•œë¯¼êµ­  118ë¶„  6.61
1              ë¹„ê¸´ ì–´ê²Œì¸     ë“œë¼ë§ˆ      ë¯¸êµ­  104ë¶„  9.12
2            ëŒ€ë„ì‹œì˜ ì‚¬ë‘ë²•     ë“œë¼ë§ˆ    ëŒ€í•œë¯¼êµ­  118ë¶„   NaN
3                  ë£©ë°±     ë“œë¼ë§ˆ      ì¼ë³¸   57ë¶„  9.13
4         ì—ì´ë¦¬ì–¸ : ë¡œë¬¼ë£¨ìŠ¤      ê³µí¬  ì˜êµ­, ë¯¸êµ­  119ë¶„  8.74
5             ì•ˆë…•, í• ë¶€ì§€   ë‹¤íë©˜í„°ë¦¬    ëŒ€í•œë¯¼êµ­   95ë¶„  8.61
6             ì†Œë…„ì‹œì ˆì˜ ë„ˆ  ë©œë¡œ/ë¡œë§¨ìŠ¤      ì¤‘êµ­  135ë¶„  9.05
7   ì„ì˜ì›… | ì•„ì„ íˆì–´ë¡œ ë” ìŠ¤íƒ€    ê³µì—°ì‹¤í™©    ëŒ€í•œë¯¼êµ­  108ë¶„  9.77
8    ë¸Œë ˆë“œì´ë°œì†Œ : ë¹µìŠ¤íƒ€ì˜ íƒ„ìƒ   ì• ë‹ˆë©”ì´ì…˜    ëŒ€í•œë¯¼êµ­   77ë¶„  9.60
9             ì‚¬ë‘ì˜ í•˜ì¸„í•‘   ì• ë‹ˆë©”ì´ì…˜    ëŒ€í•œë¯¼êµ­   86ë¶„  8.73
10                íŒŒì¼ëŸ¿     ì½”ë¯¸ë””    ëŒ€í•œë¯¼êµ­  111ë¶„  7.70
11            ìš°ë¦¬ê°€ ëì´ì•¼  ë©œë¡œ/ë¡œë§¨ìŠ¤      ë¯¸êµ­  130ë¶„  7.94
12             ìƒˆë²½ì˜ ëª¨ë“      ë“œë¼ë§ˆ      ì¼ë³¸  119ë¶„  8.16
13       ì •êµ­ : ì•„ì´ ì—  ìŠ¤í‹¸    ê³µì—°ì‹¤í™©    ëŒ€í•œë¯¼êµ­   94ë¶„  9.97
14   ê·¹ì¥ì´ì§‘í¸ ë´‡ì¹˜ ë” ë¡! ì „í¸   ì• ë‹ˆë©”ì´ì…˜      ì¼ë³¸   90ë¶„  8.28

In [108]:
df_concat.to_excel('./ê³ ê°ì •ë³´(ì¸ë±ìŠ¤ í¬í•¨).xlsx')

In [109]:
df_concat.to_excel('./ê³ ê°ì •ë³´(ì¸ë±ìŠ¤ ë¯¸í¬í•¨).xlsx', index=False)

In [110]:
food = pd.read_csv('./data/foodstruct_nutritional_facts.csv')
food.head()

,Food Name,Category Name,Calcium,Calories,Omega-3 - DHA,Protein,Vitamin A,Vitamin B1,Vitamin C,Sugar,Vitamin D,Vitamin E
0,Apple,Fruits,6,52,0.0,26,54.0,2.0,46,10.0,0.0,18.0
1,Avocado,Fruits,12,160,0.0,2,146.0,7.0,10,66.0,0.0,21.0
2,Banana,Fruits,5,89,0.0,11,64.0,3.0,87,12.0,0.0,1.0
3,Blackberry,Fruits,29,43,0.0,14,214.0,2.0,21,49.0,0.0,12.0
4,Blueberry,Fruits,6,57,0.0,74,54.0,4.0,97,10.0,0.0,57.0

In [111]:
food.to_csv('./data/foodstruct_nutritional_facts2.csv', index=False)


## ğŸŒ¼ë§ˆë¬´ë¦¬ ë¬¸ì œ

ì•„ë˜ ë¬¸ì œë“¤ì„ í’€ì–´ë³´ì„¸ìš”!

Q1. pandas ë¼ì´ë¸ŒëŸ¬ë¦¬ë¥¼ ì‚¬ìš©í•˜ì—¬ ì´ë¦„, ë‚˜ì´, ì‚¬ëŠ” ê³³, ì·¨ë¯¸ ë“±ì„ í¬í•¨í•œ ë°ì´í„°í”„ë ˆì„ì„ ìƒì„±í•˜ê³  ì¶œë ¥í•´ë³´ì„¸ìš”

Q2. ì˜ë¬¸ìœ¼ë¡œ ë˜ì–´ìˆëŠ” ë°ì´í„°í”„ë ˆì„ì˜ ì»¬ëŸ¼ì„ í•œê¸€ë¡œ ë°”ê¾¸ê³ , ìˆ«ìí˜•ìœ¼ë¡œ ë˜ì–´ìˆëŠ” ì»¬ëŸ¼ì„ ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬í•˜ì—¬ ì¶œë ¥í•˜ì„¸ìš”

Q3. ì˜í™” ì œëª©, ì¥ë¥´, í‰ì  ë“±ì˜ ë°ì´í„°ë¥¼ ë‹´ì€ ì—‘ì…€ íŒŒì¼ì„ ë¶ˆëŸ¬ì™€ì„œ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë³€í™˜í•˜ê³ , ì¥ë¥´ ë³„ í‰ê·  í‰ì ì„ ì¶œë ¥í•´ë³´ì„¸ìš”
* ì˜í™”ë°ì´í„°.xlsx

In [112]:
# ì—‘ì…€íŒŒì¼ ì½ì–´ì˜¤ê¸°
df = pd.read_excel('./data/ì˜í™”ë°ì´í„°.xlsx')
df

                   ì œëª©      ì¥ë¥´      êµ­ê°€    ì‹œê°„    í‰ì
0                ë² í…Œë‘2      ì•¡ì…˜    ëŒ€í•œë¯¼êµ­  118ë¶„  6.61
1              ë¹„ê¸´ ì–´ê²Œì¸     ë“œë¼ë§ˆ      ë¯¸êµ­  104ë¶„  9.12
2            ëŒ€ë„ì‹œì˜ ì‚¬ë‘ë²•     ë“œë¼ë§ˆ    ëŒ€í•œë¯¼êµ­  118ë¶„   NaN
3                  ë£©ë°±     ë“œë¼ë§ˆ      ì¼ë³¸   57ë¶„  9.13
4         ì—ì´ë¦¬ì–¸ : ë¡œë¬¼ë£¨ìŠ¤      ê³µí¬  ì˜êµ­, ë¯¸êµ­  119ë¶„  8.74
5             ì•ˆë…•, í• ë¶€ì§€   ë‹¤íë©˜í„°ë¦¬    ëŒ€í•œë¯¼êµ­   95ë¶„  8.61
6             ì†Œë…„ì‹œì ˆì˜ ë„ˆ  ë©œë¡œ/ë¡œë§¨ìŠ¤      ì¤‘êµ­  135ë¶„  9.05
7   ì„ì˜ì›… | ì•„ì„ íˆì–´ë¡œ ë” ìŠ¤íƒ€    ê³µì—°ì‹¤í™©    ëŒ€í•œë¯¼êµ­  108ë¶„  9.77
8    ë¸Œë ˆë“œì´ë°œì†Œ : ë¹µìŠ¤íƒ€ì˜ íƒ„ìƒ   ì• ë‹ˆë©”ì´ì…˜    ëŒ€í•œë¯¼êµ­   77ë¶„  9.60
9             ì‚¬ë‘ì˜ í•˜ì¸„í•‘   ì• ë‹ˆë©”ì´ì…˜    ëŒ€í•œë¯¼êµ­   86ë¶„  8.73
10                íŒŒì¼ëŸ¿     ì½”ë¯¸ë””    ëŒ€í•œë¯¼êµ­  111ë¶„  7.70
11            ìš°ë¦¬ê°€ ëì´ì•¼  ë©œë¡œ/ë¡œë§¨ìŠ¤      ë¯¸êµ­  130ë¶„  7.94
12             ìƒˆë²½ì˜ ëª¨ë“      ë“œë¼ë§ˆ      ì¼ë³¸  119ë¶„  8.16
13       ì •êµ­ : ì•„ì´ ì—  ìŠ¤í‹¸    ê³µì—°ì‹¤í™©    ëŒ€í•œë¯¼êµ­   94ë¶„  9.97
14   ê·¹ì¥ì´ì§‘í¸ ë´‡ì¹˜ ë” ë¡! ì „í¸   ì• ë‹ˆë©”ì´ì…˜      ì¼ë³¸   90ë¶„  8.28

In [113]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ì œëª©      15 non-null     object
 1   ì¥ë¥´      15 non-null     object
 2   êµ­ê°€      15 non-null     object
 3   ì‹œê°„      15 non-null     object
 4   í‰ì       14 non-null     float64
dtypes: float64(1), object(4)
memory usage: 728.0+ bytes

In [114]:
df.describe()

              í‰ì
count  14.000000
mean    8.672143
std     0.897219
min     6.610000
25%     8.190000
50%     8.735000
75%     9.127500
max     9.970000

In [115]:
# ê²°ì¸¡ì¹˜ ì—´
df.isnull().sum()

ì œëª©    0
ì¥ë¥´    0
êµ­ê°€    0
ì‹œê°„    0
í‰ì     1
dtype: int64

In [116]:
# ê²°ì¸¡ì¹˜ í‰ê· ìœ¼ë¡œ ì±„ìš°ê¸°
df['í‰ì '].fillna(df['í‰ì '].mean(), inplace=True)
df

C:\Users\RMARKET\AppData\Local\Temp\ipykernel_8744\3363737190.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['í‰ì '].fillna(df['í‰ì '].mean(), inplace=True)

                   ì œëª©      ì¥ë¥´      êµ­ê°€    ì‹œê°„        í‰ì
0                ë² í…Œë‘2      ì•¡ì…˜    ëŒ€í•œë¯¼êµ­  118ë¶„  6.610000
1              ë¹„ê¸´ ì–´ê²Œì¸     ë“œë¼ë§ˆ      ë¯¸êµ­  104ë¶„  9.120000
2            ëŒ€ë„ì‹œì˜ ì‚¬ë‘ë²•     ë“œë¼ë§ˆ    ëŒ€í•œë¯¼êµ­  118ë¶„  8.672143
3                  ë£©ë°±     ë“œë¼ë§ˆ      ì¼ë³¸   57ë¶„  9.130000
4         ì—ì´ë¦¬ì–¸ : ë¡œë¬¼ë£¨ìŠ¤      ê³µí¬  ì˜êµ­, ë¯¸êµ­  119ë¶„  8.740000
5             ì•ˆë…•, í• ë¶€ì§€   ë‹¤íë©˜í„°ë¦¬    ëŒ€í•œë¯¼êµ­   95ë¶„  8.610000
6             ì†Œë…„ì‹œì ˆì˜ ë„ˆ  ë©œë¡œ/ë¡œë§¨ìŠ¤      ì¤‘êµ­  135ë¶„  9.050000
7   ì„ì˜ì›… | ì•„ì„ íˆì–´ë¡œ ë” ìŠ¤íƒ€    ê³µì—°ì‹¤í™©    ëŒ€í•œë¯¼êµ­  108ë¶„  9.770000
8    ë¸Œë ˆë“œì´ë°œì†Œ : ë¹µìŠ¤íƒ€ì˜ íƒ„ìƒ   ì• ë‹ˆë©”ì´ì…˜    ëŒ€í•œë¯¼êµ­   77ë¶„  9.600000
9             ì‚¬ë‘ì˜ í•˜ì¸„í•‘   ì• ë‹ˆë©”ì´ì…˜    ëŒ€í•œë¯¼êµ­   86ë¶„  8.730000
10                íŒŒì¼ëŸ¿     ì½”ë¯¸ë””    ëŒ€í•œë¯¼êµ­  111ë¶„  7.700000
11            ìš°ë¦¬ê°€ ëì´ì•¼  ë©œë¡œ/ë¡œë§¨ìŠ¤      ë¯¸êµ­  130ë¶„  7.940000
12             ìƒˆë²½ì˜ ëª¨ë“      ë“œë¼ë§ˆ      ì¼ë³¸  119ë¶„  8.160000
13       ì •êµ­ : ì•„ì´ ì—  ìŠ¤í‹¸    ê³µì—°ì‹¤í™©    ëŒ€í•œë¯¼êµ­   94ë¶„  9.970000
14   ê·¹ì¥ì´ì§‘í¸ ë´‡ì¹˜ ë” ë¡! ì „í¸   ì• ë‹ˆë©”ì´ì…˜      ì¼ë³¸   90ë¶„  8.280000

In [117]:
# ì‹œê°„ì—ì„œ ë¶„ ì§€ìš°ê³ , ì •ìˆ˜í˜•ìœ¼ë¡œ ë³€í™˜í•˜ê¸°
df['ì‹œê°„'] = df['ì‹œê°„'].str.replace('ë¶„', '').astype(int)
df.head()

            ì œëª©   ì¥ë¥´      êµ­ê°€   ì‹œê°„        í‰ì
0         ë² í…Œë‘2   ì•¡ì…˜    ëŒ€í•œë¯¼êµ­  118  6.610000
1       ë¹„ê¸´ ì–´ê²Œì¸  ë“œë¼ë§ˆ      ë¯¸êµ­  104  9.120000
2     ëŒ€ë„ì‹œì˜ ì‚¬ë‘ë²•  ë“œë¼ë§ˆ    ëŒ€í•œë¯¼êµ­  118  8.672143
3           ë£©ë°±  ë“œë¼ë§ˆ      ì¼ë³¸   57  9.130000
4  ì—ì´ë¦¬ì–¸ : ë¡œë¬¼ë£¨ìŠ¤   ê³µí¬  ì˜êµ­, ë¯¸êµ­  119  8.740000

In [118]:
# 2ë²ˆì§¸ ë°©ë²•, ìœ„ì˜ ì…€ê³¼ ë³¸ ì…€ ë‘˜ì¤‘ í•œê°œë§Œ ì‹¤í–‰!
# ì‹œê°„ì—ì„œ ë¶„ ì§€ìš°ê³ , ì •ìˆ˜í˜•ìœ¼ë¡œ ë³€í™˜í•˜ê¸°
# for i in range(len(df)):
#     df.loc[i, 'ì‹œê°„'] = int(df.loc[i, 'ì‹œê°„'].replace('ë¶„', ''))
# df.head()

In [119]:
# í‰ì ì´ 8.0ì  ì´ìƒì¸ ì˜í™”
df[df['í‰ì '] >= 8.0]

                   ì œëª©      ì¥ë¥´      êµ­ê°€   ì‹œê°„        í‰ì
1              ë¹„ê¸´ ì–´ê²Œì¸     ë“œë¼ë§ˆ      ë¯¸êµ­  104  9.120000
2            ëŒ€ë„ì‹œì˜ ì‚¬ë‘ë²•     ë“œë¼ë§ˆ    ëŒ€í•œë¯¼êµ­  118  8.672143
3                  ë£©ë°±     ë“œë¼ë§ˆ      ì¼ë³¸   57  9.130000
4         ì—ì´ë¦¬ì–¸ : ë¡œë¬¼ë£¨ìŠ¤      ê³µí¬  ì˜êµ­, ë¯¸êµ­  119  8.740000
5             ì•ˆë…•, í• ë¶€ì§€   ë‹¤íë©˜í„°ë¦¬    ëŒ€í•œë¯¼êµ­   95  8.610000
6             ì†Œë…„ì‹œì ˆì˜ ë„ˆ  ë©œë¡œ/ë¡œë§¨ìŠ¤      ì¤‘êµ­  135  9.050000
7   ì„ì˜ì›… | ì•„ì„ íˆì–´ë¡œ ë” ìŠ¤íƒ€    ê³µì—°ì‹¤í™©    ëŒ€í•œë¯¼êµ­  108  9.770000
8    ë¸Œë ˆë“œì´ë°œì†Œ : ë¹µìŠ¤íƒ€ì˜ íƒ„ìƒ   ì• ë‹ˆë©”ì´ì…˜    ëŒ€í•œë¯¼êµ­   77  9.600000
9             ì‚¬ë‘ì˜ í•˜ì¸„í•‘   ì• ë‹ˆë©”ì´ì…˜    ëŒ€í•œë¯¼êµ­   86  8.730000
12             ìƒˆë²½ì˜ ëª¨ë“      ë“œë¼ë§ˆ      ì¼ë³¸  119  8.160000
13       ì •êµ­ : ì•„ì´ ì—  ìŠ¤í‹¸    ê³µì—°ì‹¤í™©    ëŒ€í•œë¯¼êµ­   94  9.970000
14   ê·¹ì¥ì´ì§‘í¸ ë´‡ì¹˜ ë” ë¡! ì „í¸   ì• ë‹ˆë©”ì´ì…˜      ì¼ë³¸   90  8.280000

In [120]:
# íŠ¹ì •  í–‰ê³¼ ì—´ ì„ íƒí•˜ê¸°(0ë²ˆì§¸ ì˜í™” ì„ íƒí•˜ê¸°)
df.loc[0,['ì œëª©','êµ­ê°€']]

ì œëª©    ë² í…Œë‘2
êµ­ê°€    ëŒ€í•œë¯¼êµ­
Name: 0, dtype: object

In [121]:
df[(df['êµ­ê°€']=='ëŒ€í•œë¯¼êµ­') & (df['í‰ì '] >= 7.0)]

                   ì œëª©     ì¥ë¥´    êµ­ê°€   ì‹œê°„        í‰ì
2            ëŒ€ë„ì‹œì˜ ì‚¬ë‘ë²•    ë“œë¼ë§ˆ  ëŒ€í•œë¯¼êµ­  118  8.672143
5             ì•ˆë…•, í• ë¶€ì§€  ë‹¤íë©˜í„°ë¦¬  ëŒ€í•œë¯¼êµ­   95  8.610000
7   ì„ì˜ì›… | ì•„ì„ íˆì–´ë¡œ ë” ìŠ¤íƒ€   ê³µì—°ì‹¤í™©  ëŒ€í•œë¯¼êµ­  108  9.770000
8    ë¸Œë ˆë“œì´ë°œì†Œ : ë¹µìŠ¤íƒ€ì˜ íƒ„ìƒ  ì• ë‹ˆë©”ì´ì…˜  ëŒ€í•œë¯¼êµ­   77  9.600000
9             ì‚¬ë‘ì˜ í•˜ì¸„í•‘  ì• ë‹ˆë©”ì´ì…˜  ëŒ€í•œë¯¼êµ­   86  8.730000
10                íŒŒì¼ëŸ¿    ì½”ë¯¸ë””  ëŒ€í•œë¯¼êµ­  111  7.700000
13       ì •êµ­ : ì•„ì´ ì—  ìŠ¤í‹¸   ê³µì—°ì‹¤í™©  ëŒ€í•œë¯¼êµ­   94  9.970000

In [122]:
rename_df = df.rename(columns={'ì¥ë¥´' : 'ì˜í™”ì¥ë¥´', 'ì‹œê°„':'ìƒì˜ì‹œê°„'})
rename_df

                   ì œëª©    ì˜í™”ì¥ë¥´      êµ­ê°€  ìƒì˜ì‹œê°„        í‰ì
0                ë² í…Œë‘2      ì•¡ì…˜    ëŒ€í•œë¯¼êµ­   118  6.610000
1              ë¹„ê¸´ ì–´ê²Œì¸     ë“œë¼ë§ˆ      ë¯¸êµ­   104  9.120000
2            ëŒ€ë„ì‹œì˜ ì‚¬ë‘ë²•     ë“œë¼ë§ˆ    ëŒ€í•œë¯¼êµ­   118  8.672143
3                  ë£©ë°±     ë“œë¼ë§ˆ      ì¼ë³¸    57  9.130000
4         ì—ì´ë¦¬ì–¸ : ë¡œë¬¼ë£¨ìŠ¤      ê³µí¬  ì˜êµ­, ë¯¸êµ­   119  8.740000
5             ì•ˆë…•, í• ë¶€ì§€   ë‹¤íë©˜í„°ë¦¬    ëŒ€í•œë¯¼êµ­    95  8.610000
6             ì†Œë…„ì‹œì ˆì˜ ë„ˆ  ë©œë¡œ/ë¡œë§¨ìŠ¤      ì¤‘êµ­   135  9.050000
7   ì„ì˜ì›… | ì•„ì„ íˆì–´ë¡œ ë” ìŠ¤íƒ€    ê³µì—°ì‹¤í™©    ëŒ€í•œë¯¼êµ­   108  9.770000
8    ë¸Œë ˆë“œì´ë°œì†Œ : ë¹µìŠ¤íƒ€ì˜ íƒ„ìƒ   ì• ë‹ˆë©”ì´ì…˜    ëŒ€í•œë¯¼êµ­    77  9.600000
9             ì‚¬ë‘ì˜ í•˜ì¸„í•‘   ì• ë‹ˆë©”ì´ì…˜    ëŒ€í•œë¯¼êµ­    86  8.730000
10                íŒŒì¼ëŸ¿     ì½”ë¯¸ë””    ëŒ€í•œë¯¼êµ­   111  7.700000
11            ìš°ë¦¬ê°€ ëì´ì•¼  ë©œë¡œ/ë¡œë§¨ìŠ¤      ë¯¸êµ­   130  7.940000
12             ìƒˆë²½ì˜ ëª¨ë“      ë“œë¼ë§ˆ      ì¼ë³¸   119  8.160000
13       ì •êµ­ : ì•„ì´ ì—  ìŠ¤í‹¸    ê³µì—°ì‹¤í™©    ëŒ€í•œë¯¼êµ­    94  9.970000
14   ê·¹ì¥ì´ì§‘í¸ ë´‡ì¹˜ ë” ë¡! ì „í¸   ì• ë‹ˆë©”ì´ì…˜      ì¼ë³¸    90  8.280000

In [123]:
rename_df.sort_values(by='í‰ì ', ascending=False).head(10)

                   ì œëª©    ì˜í™”ì¥ë¥´      êµ­ê°€  ìƒì˜ì‹œê°„        í‰ì
13       ì •êµ­ : ì•„ì´ ì—  ìŠ¤í‹¸    ê³µì—°ì‹¤í™©    ëŒ€í•œë¯¼êµ­    94  9.970000
7   ì„ì˜ì›… | ì•„ì„ íˆì–´ë¡œ ë” ìŠ¤íƒ€    ê³µì—°ì‹¤í™©    ëŒ€í•œë¯¼êµ­   108  9.770000
8    ë¸Œë ˆë“œì´ë°œì†Œ : ë¹µìŠ¤íƒ€ì˜ íƒ„ìƒ   ì• ë‹ˆë©”ì´ì…˜    ëŒ€í•œë¯¼êµ­    77  9.600000
3                  ë£©ë°±     ë“œë¼ë§ˆ      ì¼ë³¸    57  9.130000
1              ë¹„ê¸´ ì–´ê²Œì¸     ë“œë¼ë§ˆ      ë¯¸êµ­   104  9.120000
6             ì†Œë…„ì‹œì ˆì˜ ë„ˆ  ë©œë¡œ/ë¡œë§¨ìŠ¤      ì¤‘êµ­   135  9.050000
4         ì—ì´ë¦¬ì–¸ : ë¡œë¬¼ë£¨ìŠ¤      ê³µí¬  ì˜êµ­, ë¯¸êµ­   119  8.740000
9             ì‚¬ë‘ì˜ í•˜ì¸„í•‘   ì• ë‹ˆë©”ì´ì…˜    ëŒ€í•œë¯¼êµ­    86  8.730000
2            ëŒ€ë„ì‹œì˜ ì‚¬ë‘ë²•     ë“œë¼ë§ˆ    ëŒ€í•œë¯¼êµ­   118  8.672143
5             ì•ˆë…•, í• ë¶€ì§€   ë‹¤íë©˜í„°ë¦¬    ëŒ€í•œë¯¼êµ­    95  8.610000

In [124]:
df = rename_df.drop_duplicates(subset='ì œëª©')
df.head()

            ì œëª© ì˜í™”ì¥ë¥´      êµ­ê°€  ìƒì˜ì‹œê°„        í‰ì
0         ë² í…Œë‘2   ì•¡ì…˜    ëŒ€í•œë¯¼êµ­   118  6.610000
1       ë¹„ê¸´ ì–´ê²Œì¸  ë“œë¼ë§ˆ      ë¯¸êµ­   104  9.120000
2     ëŒ€ë„ì‹œì˜ ì‚¬ë‘ë²•  ë“œë¼ë§ˆ    ëŒ€í•œë¯¼êµ­   118  8.672143
3           ë£©ë°±  ë“œë¼ë§ˆ      ì¼ë³¸    57  9.130000
4  ì—ì´ë¦¬ì–¸ : ë¡œë¬¼ë£¨ìŠ¤   ê³µí¬  ì˜êµ­, ë¯¸êµ­   119  8.740000

In [125]:
df.groupby('ì˜í™”ì¥ë¥´')['í‰ì '].mean()

ì˜í™”ì¥ë¥´
ê³µì—°ì‹¤í™©      9.870000
ê³µí¬        8.740000
ë‹¤íë©˜í„°ë¦¬     8.610000
ë“œë¼ë§ˆ       8.770536
ë©œë¡œ/ë¡œë§¨ìŠ¤    8.495000
ì• ë‹ˆë©”ì´ì…˜     8.870000
ì•¡ì…˜        6.610000
ì½”ë¯¸ë””       7.700000
Name: í‰ì , dtype: float64

In [126]:
new_data = pd.DataFrame({
    'ì œëª©': ['ì˜í™”A', 'ì˜í™”B'],
    'ì˜í™”ì¥ë¥´': ['ì•¡ì…˜', 'ë“œë¼ë§ˆ'],
    'êµ­ê°€': ['ëŒ€í•œë¯¼êµ­', 'ë¯¸êµ­'],
    'ìƒì˜ì‹œê°„': [110, 95],
    'í‰ì ': [8.5, 7.9]
})

In [127]:
df = pd.concat([df, new_data], ignore_index=True)
df

                   ì œëª©    ì˜í™”ì¥ë¥´      êµ­ê°€  ìƒì˜ì‹œê°„        í‰ì
0                ë² í…Œë‘2      ì•¡ì…˜    ëŒ€í•œë¯¼êµ­   118  6.610000
1              ë¹„ê¸´ ì–´ê²Œì¸     ë“œë¼ë§ˆ      ë¯¸êµ­   104  9.120000
2            ëŒ€ë„ì‹œì˜ ì‚¬ë‘ë²•     ë“œë¼ë§ˆ    ëŒ€í•œë¯¼êµ­   118  8.672143
3                  ë£©ë°±     ë“œë¼ë§ˆ      ì¼ë³¸    57  9.130000
4         ì—ì´ë¦¬ì–¸ : ë¡œë¬¼ë£¨ìŠ¤      ê³µí¬  ì˜êµ­, ë¯¸êµ­   119  8.740000
5             ì•ˆë…•, í• ë¶€ì§€   ë‹¤íë©˜í„°ë¦¬    ëŒ€í•œë¯¼êµ­    95  8.610000
6             ì†Œë…„ì‹œì ˆì˜ ë„ˆ  ë©œë¡œ/ë¡œë§¨ìŠ¤      ì¤‘êµ­   135  9.050000
7   ì„ì˜ì›… | ì•„ì„ íˆì–´ë¡œ ë” ìŠ¤íƒ€    ê³µì—°ì‹¤í™©    ëŒ€í•œë¯¼êµ­   108  9.770000
8    ë¸Œë ˆë“œì´ë°œì†Œ : ë¹µìŠ¤íƒ€ì˜ íƒ„ìƒ   ì• ë‹ˆë©”ì´ì…˜    ëŒ€í•œë¯¼êµ­    77  9.600000
9             ì‚¬ë‘ì˜ í•˜ì¸„í•‘   ì• ë‹ˆë©”ì´ì…˜    ëŒ€í•œë¯¼êµ­    86  8.730000
10                íŒŒì¼ëŸ¿     ì½”ë¯¸ë””    ëŒ€í•œë¯¼êµ­   111  7.700000
11            ìš°ë¦¬ê°€ ëì´ì•¼  ë©œë¡œ/ë¡œë§¨ìŠ¤      ë¯¸êµ­   130  7.940000
12             ìƒˆë²½ì˜ ëª¨ë“      ë“œë¼ë§ˆ      ì¼ë³¸   119  8.160000
13       ì •êµ­ : ì•„ì´ ì—  ìŠ¤í‹¸    ê³µì—°ì‹¤í™©    ëŒ€í•œë¯¼êµ­    94  9.970000
14   ê·¹ì¥ì´ì§‘í¸ ë´‡ì¹˜ ë” ë¡! ì „í¸   ì• ë‹ˆë©”ì´ì…˜      ì¼ë³¸    90  8.280000
15                ì˜í™”A      ì•¡ì…˜    ëŒ€í•œë¯¼êµ­   110  8.500000
16                ì˜í™”B     ë“œë¼ë§ˆ      ë¯¸êµ­    95  7.900000

In [128]:
new_data2 = pd.DataFrame({
    'ê°ë…' == ['A', 'B', 'C']
})

In [129]:
def director(country):
    if country =='ëŒ€í•œë¯¼êµ­':
        return 'A'
    elif country == 'ë¯¸êµ­' :
        return 'B'
    elif country == 'ì¼ë³¸' :
        return 'C'
    else:
        return 'D'

In [130]:
df['ê°ë…']=df['êµ­ê°€'].apply(director)
df

                   ì œëª©    ì˜í™”ì¥ë¥´      êµ­ê°€  ìƒì˜ì‹œê°„        í‰ì  ê°ë…
0                ë² í…Œë‘2      ì•¡ì…˜    ëŒ€í•œë¯¼êµ­   118  6.610000  A
1              ë¹„ê¸´ ì–´ê²Œì¸     ë“œë¼ë§ˆ      ë¯¸êµ­   104  9.120000  B
2            ëŒ€ë„ì‹œì˜ ì‚¬ë‘ë²•     ë“œë¼ë§ˆ    ëŒ€í•œë¯¼êµ­   118  8.672143  A
3                  ë£©ë°±     ë“œë¼ë§ˆ      ì¼ë³¸    57  9.130000  C
4         ì—ì´ë¦¬ì–¸ : ë¡œë¬¼ë£¨ìŠ¤      ê³µí¬  ì˜êµ­, ë¯¸êµ­   119  8.740000  D
5             ì•ˆë…•, í• ë¶€ì§€   ë‹¤íë©˜í„°ë¦¬    ëŒ€í•œë¯¼êµ­    95  8.610000  A
6             ì†Œë…„ì‹œì ˆì˜ ë„ˆ  ë©œë¡œ/ë¡œë§¨ìŠ¤      ì¤‘êµ­   135  9.050000  D
7   ì„ì˜ì›… | ì•„ì„ íˆì–´ë¡œ ë” ìŠ¤íƒ€    ê³µì—°ì‹¤í™©    ëŒ€í•œë¯¼êµ­   108  9.770000  A
8    ë¸Œë ˆë“œì´ë°œì†Œ : ë¹µìŠ¤íƒ€ì˜ íƒ„ìƒ   ì• ë‹ˆë©”ì´ì…˜    ëŒ€í•œë¯¼êµ­    77  9.600000  A
9             ì‚¬ë‘ì˜ í•˜ì¸„í•‘   ì• ë‹ˆë©”ì´ì…˜    ëŒ€í•œë¯¼êµ­    86  8.730000  A
10                íŒŒì¼ëŸ¿     ì½”ë¯¸ë””    ëŒ€í•œë¯¼êµ­   111  7.700000  A
11            ìš°ë¦¬ê°€ ëì´ì•¼  ë©œë¡œ/ë¡œë§¨ìŠ¤      ë¯¸êµ­   130  7.940000  B
12             ìƒˆë²½ì˜ ëª¨ë“      ë“œë¼ë§ˆ      ì¼ë³¸   119  8.160000  C
13       ì •êµ­ : ì•„ì´ ì—  ìŠ¤í‹¸    ê³µì—°ì‹¤í™©    ëŒ€í•œë¯¼êµ­    94  9.970000  A
14   ê·¹ì¥ì´ì§‘í¸ ë´‡ì¹˜ ë” ë¡! ì „í¸   ì• ë‹ˆë©”ì´ì…˜      ì¼ë³¸    90  8.280000  C
15                ì˜í™”A      ì•¡ì…˜    ëŒ€í•œë¯¼êµ­   110  8.500000  A
16                ì˜í™”B     ë“œë¼ë§ˆ      ë¯¸êµ­    95  7.900000  B

In [131]:
df.to_excel('./data/final.xlsx', index=False)